* {
  box-sizing: border-box;
}

html {
  background-color: rgb(0 100 167);
  min-height: 100vh;
}

body {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(164deg, rgba(51, 188, 226, 1) 0%, rgb(0 100 167) 80%);
  color: white;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 50px;
  }
}

select,
button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}